.js-toggle{
    margin-bottom: 20px;
    border: 1px solid black;  
    &__head{
        padding: 10px 20px;
        position: relative;
        border-bottom: 1px solid black; 
        &::before{
            content: "";
            position: absolute;
            width: 2px;
            height: 10px;
            background: black;
            right: 30px;
            top: 17px;
        }
        &::after{
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            background: black;
            right: 26px;
            top: 21px;
        }
        &:hover{
            color: red;
            cursor: pointer;
            background: rgb(240, 196, 196);
            border-color: red;
        }
    }
    &__body{
        background: rgb(247, 243, 243);
        padding: 30px 20px;
        &-txt{
            margin-bottom: 20px;
        }
    }
}
.f-service{
    display: flex;
    width: 100%;
    &__img{
        margin-right: 30px;
        width: 300px;
    }
    &__body{
        width: calc(100% - 300px);
    }
    &__txt{
        display: flex;
        margin-bottom: 20px;
    }
    &__txt-01{
        border: 1px solid black;
        background:grey;
        width: 135px;
        text-align: center;
        margin: auto;
    }
    &__txt-02{
        margin-left: 30px;
        width: calc(100% - 135px);
    }
}
.f-btn{
    border: 1px solid #a7a3a3;
    border-radius: 6px;
    background:rgb(244, 247, 244);
    width: 230px;
    text-align: center;
    margin: auto;
    padding: 8px;
    position: relative;    
    cursor: pointer;
    &__img{
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        margin-left: 5px;
    }
    &:hover{
        color: purple;
        background: white;
        border-color: purple;
    }
}